ds-field {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  inline-size: var(--ds-component-input-width-lg);
  max-inline-size: 100%;
  gap: var(--ds-semantic-spacing-xs);
}

ds-field > [slot="label"],
ds-field > [slot="message"] {
  display: block;
  inline-size: 100%;
  margin: 0;
  color: var(--ds-semantic-color-foreground-default);
  font-family: var(--ds-primitive-font-family-body);
  font-size: var(--ds-semantic-typography-body-small-font-size);
  font-weight: var(--ds-semantic-typography-body-small-font-weight-root);
  line-height: var(--ds-semantic-typography-body-small-line-height);
}

ds-field > [slot="control"] {
  inline-size: 100%;
  min-inline-size: 0;
}

ds-field > [slot="message"] {
  color: var(--ds-semantic-color-foreground-muted-2);
}

ds-field[data-state="invalid"] > [slot="message"] {
  color: var(--ds-semantic-color-foreground-destructive-elevated);
}

ds-field[data-state="disabled"] > [slot="label"],
ds-field[data-state="disabled"] > [slot="message"] {
  color: var(--ds-semantic-color-foreground-disabled-muted);
}
